<html>
<head>
    <title>{% block title %}Arduinozore{% end %}</title>
    <meta charset="utf-8" />
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url("semantic/semantic.css") }}">
    <script src="{{ static_url("semantic/semantic.js") }}"></script>
    {% block head %}
    {% end %}
</head>
<body>
    <div class="ui inverted large top menu ">
        <div class="ui container">
            <a class="header item" href="/">
                {% block title %}Arduinozore{% end %}
            </a>
            <div class="item">{% block subtitle %}Accueil{% end %}</div>
        </div>
    </div>
    <div class="ui container">
        {% block body %}
        {% end %}
    </div>
</body>
</html>
