{% extends "base.html" %}
{% block title %}Arduinozore{% end %}
{% block subtitle %}{{device}}{% end %}
{% block head %}
{% end %}
{% block body %}
<div class="ui three column relaxed grid">
    <div class="column center">

        <table class="ui inverted blue selectable celled right aligned table">
            <thead>
                <tr><th class="left aligned">Capteur</th>
                    <th>Valeur</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for p in ports %}
                {% if ports[p]['enabled'] is not '' %}
                <tr>
                    <td class="left aligned">{{ports[p]['name']}}</td>
                    <td id="{{p}}">0</td>
                    <td>{{ports[p]['type']}}</td>
                </tr>
                {% end %}
                {% end %}
            </tbody>
        </table>
    </div>
</div>
<h2>COM Reading</h2>
<div id="log" style="overflow:scroll;width:500px; height:200px;background-color:#ffeeaa; margin:auto; text-align:left">Messages go here</div>
<script>
$(function(){
    var ws;
    var logger = function(msg){
        var now = new Date();
        var sec = now.getSeconds();
        var min = now.getMinutes();
        var hr = now.getHours();
        $("#log").html($("#log").html() + "<br/>" + hr + ":" + min + ":" + sec + " ___ " +  msg);
        //$("#log").animate({ scrollTop: $('#log')[0].scrollHeight}, 100);
        $('#log').scrollTop($('#log')[0].scrollHeight);
    }

    ws = new WebSocket("wss://{{host}}:{{port}}/ws/{{slug}}");
    ws.onmessage = function(evt) {

        logger(evt.data);
        var obj = JSON.parse(evt.data);
        console.log(obj)
        for(var propertyName in obj) {
            $("#"+propertyName).html('<h4 class="ui blue inverted header">'+obj[propertyName]+'</h4>');
        }
    };
    ws.onclose = function(evt) {
        $("#log").text("Connection was closed...");
        $("#thebutton #msg").prop('disabled', true);
    };
    ws.onopen = function(evt) {
        $("#log").text("Opening socket...");
        $("#thebutton #msg").prop('disabled', false);
    };
    $("#name").prop('disabled', true);

    var sender = function(msg) {
        if (msg.length > 0)
        ws.send(msg);
    }

    $("#capteur").on('change', function() {
        sender(this.value);
    })
});
</script>
{% end %}
